@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 1px;
    padding: 0px;
}
body{
    font-family: Fira Sans;
    background: rgb(245, 245, 245);
}
.color1{
    background: rgba(84, 144, 245, 0.2);
}
.color2{
    background: rgb(198, 228, 214);
}
.color3{
    background: rgb(247, 235, 207);
}
.btn1{
    background: rgb(84, 144, 245);
}
.btn2{
    background: rgb(9, 161, 92);
}
.btn3{
    background: rgb(255, 194, 57);
}
.text-decoration{
    font-family: Fira Sans;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 135px;
}
.btn{
    padding: 15px 30px;
    border-radius: 10px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}
.btn:hover{
    background-color: rgb(9, 180, 137);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-box{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1088px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
}
.banner-content .title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 490;
    margin-bottom: 14px;
}
.banner-content .desc{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 685;
}
.banner-content .banner-btn{
    padding: 17px 34px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 510;
}
.banner-btn:hover{
    background-color: rgb(3, 172, 129);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
#card{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card .card-section{
    width: 1088px;
    height: 324px;
    margin-bottom: 80px;
}.section-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 34px;
    font-weight: 595;
    margin-bottom: 32px;
}
.card-box{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-around;
}
.card{
    background-color: white;
    width: 256px;
    height: 213px;
    padding: 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.card .card-title{
    margin-top: 25px;
    margin-bottom: 12px;
}
#vision{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vision .card-sec{
    width: 1088px;
    margin-bottom: 32px;
}
.seconday-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 36px;
    font-weight: 685;
    margin-bottom: 24px;
}
.secondary-desc{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
}
.secondary-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
.secondary-card{
    width: 349px;
    height: 325px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 32px;
}
.secondary-card .sec-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 12px;
}
.secondary-card .sec-desc{
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 48px;
}
.sec-btn1{
    padding: 12px;
    width: 122px;
    height: 41px;
    align-self: center;
    border-radius: 8px;
    border: none;
    color: white;
}
.sec-btn1:hover{
    background-color: rgb(161, 191, 243);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
.sec-btn2{
    padding: 12px;
    width: 122px;
    height: 41px;
    align-self: center;
    border-radius: 8px;
    border: none;
    color: white;
}
.sec-btn2:hover{
    background-color: rgb(5, 223, 125);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
.sec-btn3{
    padding: 12px;
    width: 122px;
    height: 41px;
    align-self: center;
    border-radius: 8px;
    border: none;
    color: white;
}
.sec-btn3:hover{
    background-color: rgb(255, 213, 114);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
#vision-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vision-message .vision-message{
    width: 1088px;
    height: 256px;
    margin-bottom: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
}
.vision-content{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}
.vision-content .sub-title{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    padding-top: 25px;
}
.vision-content .title-name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.vision .end-sub{
    color: rgba(14, 14, 14, 0.6);
    font-size: 14px;
    font-weight: 300;
}
#opinion{
    display: flex;
    justify-content: center;
    align-items: center;
}
#opinion .opinion{
    width: 1088px;
    height: auto;
    margin-bottom: 80px;
}
.opinion .opinion-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.opinion .opinion-container{
    background-color: white;
    border-radius: 16px;
    padding: 32px;
}
table{
    border-collapse: collapse
}
td,th{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
}
 .opinion-container th{
    text-align: left;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
.opinion-container select{
    width: 152px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
}
#news{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
#news .news-container{
    width: 1088px;
    height: auto;
    margin-bottom: 80px;
}
.news-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.news-desc{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
}
.news-box{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    border-radius: 24px;
    margin-bottom: 24px
}
.news-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 48px;
}
.news-image > img{
    border-radius: 24px;
}
.content-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.news-content img{
    margin-bottom: 12px;
}
.t-d{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
.content-desc{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}
.news-content > button{
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin-top: 32px;
}
.news-content > button:hover{
    background-color: rgb(9, 182, 139);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
#final-section{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 80px;
}
.final-title{
    text-align: center;
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.final-desc{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.final-cardbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}
.final-card{
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.final-card > h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}
#final-section > input{
    width: 1032px;
    padding: 20px 40px;
    margin-left: 25px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 32px;
}
.final-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.final-btn > button{
    padding: 17px 34px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.final-btn > button:hover{
    background-color: rgb(0, 202, 152);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
#news-letter{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px;
    justify-content: space-around; 
}
.newsletter-content > h2{
    text-align: center;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.primary-desc{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: center;
    margin-left: 64px;
    margin-right: 64px;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: none;
    flex-direction: row;
    gap: 0;
    margin-bottom: 25px;
}
.input-box > input{
    padding: 20px 40px;
    width: 600px;
    border-radius: 8px 0px 0px 8px;
    margin-right: 0;
    border: none;
}
.input-box > button{
    padding: 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-left: 0;
}
.input-box > button:hover{
    background-color: rgb(5, 184, 139);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
.secondary-description{
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
footer{
    background-color: white;
    padding: 50px 160px;
}
.foot-title{
    text-align: center;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
    margin: 32px 79px;
    width: 900px;
    position: static;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 23px;
}